*{
    margin: 0 auto;
}
.container{
    max-width: calc(100%-400px);
}
table ,tr,td,th{
    border: rgb(241, 135, 135) 1px solid;
}
table {
    margin-top: 50px;
    
}
h1 {
    text-align: center;
}